.buildpath
.project
.settings

#IgnoreExtraFiles
**/diamond-emporium-crm/html/.cl.selector
**/diamond-emporium-crm/html/.cphorde/
**/diamond-emporium-crm/html/.softaculous/
**/diamond-emporium-crm/html/autoload/
**/diamond-emporium-crm/html/cache/
**/diamond-emporium-crm/html/config/autoload/*local.php
**/diamond-emporium-crm/html/config/autoload/*global.php
**/diamond-emporium-crm/html/data/
**/diamond-emporium-crm/html/js/
**/diamond-emporium-crm/html/library/Zend/
**/diamond-emporium-crm/html/logs/
**/diamond-emporium-crm/html/mail/
**/diamond-emporium-crm/html/public/js/jqwidgets/
**/diamond-emporium-crm/html/public/js/colorpicker/
**/diamond-emporium-crm/html/public/js/datepicker/
**/diamond-emporium-crm/html/public/*.htaccess
**/diamond-emporium-crm/html/public_ftp/
**/diamond-emporium-crm/html/public_html/
**/diamond-emporium-crm/html/ssl/
**/diamond-emporium-crm/html/tmp/
**/diamond-emporium-crm/html/.contactemail
**/diamond-emporium-crm/html/.gemrc
**/diamond-emporium-crm/html/.htaccess
**/diamond-emporium-crm/html/application.config.php
**/diamond-emporium-crm/html/cpbackup-exclude.conf
**/diamond-emporium-crm/html/init_autoloader.php
**/diamond-emporium-crm/html/test.php

