.buildpath
.project
.settings

#IgnoreExtraFiles
diamond-emporium-crm/.cl.selector
diamond-emporium-crm/.cphorde/
diamond-emporium-crm/.softaculous/
diamond-emporium-crm/autoload/
diamond-emporium-crm/cache/
diamond-emporium-crm/config/autoload/*local.php
diamond-emporium-crm/config/autoload/*global.php
diamond-emporium-crm/data/
diamond-emporium-crm/js/
diamond-emporium-crm/library/Zend/
diamond-emporium-crm/logs/
diamond-emporium-crm/mail/
diamond-emporium-crm/public/js/jqwidgets/
diamond-emporium-crm/public/js/colorpicker/
diamond-emporium-crm/public/js/datepicker/
diamond-emporium-crm/public/*.htaccess
diamond-emporium-crm/public_ftp/
diamond-emporium-crm/public_html/
diamond-emporium-crm/ssl/
diamond-emporium-crm/tmp/
diamond-emporium-crm/.contactemail
diamond-emporium-crm/.gemrc
diamond-emporium-crm/.htaccess
diamond-emporium-crm/application.config.php
diamond-emporium-crm/cpbackup-exclude.conf
diamond-emporium-crm/init_autoloader.php
diamond-emporium-crm/test.php

